@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --headerBg: #202124;
  --linkHover: #3944573d;
  --fadedHoverBg: #aecbfa55;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-hoverAccent: #5f6368;
  --color-headerBg: var(--headerBg);
  --color-linkHover: var(--linkHover);
  --color-textHover: #8ab4f8;
  --color-fadedHoverBg: var(--fadedHoverBg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}
